//WRAPPER
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1260px;
}

//STRIPPING STYLES
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
}

html {
    background-color: black;
    color: red;
}

a:hover,
a:focus,
button:hover,
button:focus {
    box-shadow: 0 0 30px 10px red;
}