header {
    span {
        display: block;
    }

    text-align:center;

    a {
        display: inline-block;
        border: 5px red solid;
        padding: 10px;
        cursor: pointer;
        margin-top: 50px;
    }
}

.indexHeader {
    height: 100vh;
    padding-top: 100px;
}