@media (max-width:800px) {
    .rouletteHeader {
        h1 {
            font-size: 3.5rem;
            padding-top: 70px;
        }
    }
}


@media (max-width:600px) {
    header {
        h1 {
            font-size: 3.2rem;

            span {
                font-size: 4.5rem;
            }
        }
    }

    .rouletteHeader {
        h1 {
            font-size: 2.5rem;
        }
    }

    .chooseMovie {
        ul {
            p {
                width: 80%;
            }
        }
    }
}

@media (max-width:600px) {
    header {
        h1 {
            font-size: 2.2rem;

            span {
                font-size: 3.2rem;
            }
        }
    }
}

@media (max-width:450px) {
    .rouletteHeader {
        h1 {
            font-size: 1.9rem;
            margin: 0;
            padding: auto 0;
        }
    }
}