//HEADER
.rouletteHeader {
    padding: 50px 0;

    a {
        position: absolute;
        top: 15px;
        left: 15px;
        margin-top: 0;
    }
}

button {
    border: 5px red solid;
    padding: 10px;
    cursor: pointer;
    width: 160px;
    text-align: center;
}

.chooseMovie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
        text-align: center;
        margin: 50px auto;

        p {
            width: 50%;
            margin: 10px auto;
        }

        img {
            width: 250px;
            margin: 10px auto;
        }
    }


}